
/* Keep CSS Styles alphabetized. Good practice. --> http://www.styleneat.com/index.php */

@import 'reset';
@import 'variables';
@import 'mixins';

$footer-color: #4B4948;

.nav-links { 
    font-family: 'Lato','Raleway', Helvetica, Arial, sans-serif;
    font-size: 20px;
    float: right;

    .nav-box {
        display: inline;
        /*border-left: 1px solid white;*/
        padding: 10px;
        position: relative;
        top: 9px;
        right: 5em;

        &:first-child {
            border-left: 1px solid white;
        }

        &:hover {
            color: black;
            background: white;
        }
    }
}

.header-icons {

    &:visited {
        color: inherit;
    }

/*    &:hover {
        background-color: #000000;
        color:white ; 
        opacity: 0.2;
        text-decoration: none;
    }*/
}
 

article { font-family: Helvetica, Arial, sans-serif; }
 
body {
    background: url("http://static.tumblr.com/1a5cc1d0e1c7f0dced04ddeb56df0be3/wbu4sfk/1Uwof0biz/tumblr_static_3dokueqingaowkk0s0o40kok4.jpg") no-repeat center fixed;
    background-attachment: scroll;
    opacity: 0.75;
    max-width: 2000px;
    max-height: auto;
    display: inline;
    position: relative; 
}
 
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: -25px;

    &:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }
}

 
.contact_form {
    align-items: center;
    font-family: 'Lato','Raleway', sans-serif;
    margin-left: 39%;
    margin-top: 10%;
    z-index: 2; }

embed {
    margin-top: -35px;
}
 
 
footer {
    color: white;
    position: relative;
    clear: both;
    /*background: $footer-color;*/
    height: 5rem;
}
 
.footer-content {

}


form { 
    color: white;
}
 
.name {
    float: left;
    @include clearfix;
    position: relative;
    left: 5em;

    h1 {
        color: white;
        font-family: 'Lato','Raleway', Helvetica, Arial, sans-serif;
        font-size: 35px;
        text-shadow: 45px 0px 45px #000000;

    }
}

 
header, footer { text-align: center; }
 
 
input[type="text"].form-input {
    border-radius: 2px;
    border: 5px solid white;
    box-sizing: border-box;
    color: #ccc;
    display: block;
    font-size: 14px;
    font-style: italic;
    outline: none;
    padding: 5px 10px;
    width: 300px; }
 
    input[type="text"].form-input:focus {
        border-color: #f9d657;
        color: #000; }

.label-input-pair {
    display: block;
    margin: 30px 0; }
 
 
label.form-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    outline: none; }
 
 
.main {
    @include clearfix;
    margin: auto;
    position: relative;
/*    transform: translateY(50%);
    width: 50%;*/
    z-index: 1;
  }

  hr {
    border: 1px solid white;
  }

p {
    color: white;
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
    position: relative;
    /* left: 4rem; */
    font-size: 35px;
    /* float: left; */
    margin: 2rem 4rem;
}

.fa {
    padding: 1rem;

    &:hover {
        color: black;
        cursor: pointer;
    }
}
 
 
nav {
    @include clearfix;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

 a {
    color: white;
    margin: 10px;
    text-decoration: none;
 }

 a:visited {
    color: inherit;
    text-decoration: none;
 }

 .projects {
    height: 40%;
    width: 25%;
    position: relative;
    left: 15%;

 }

.wrapper {
    @include clearfix;
    position: relative;
    /*left: 15%; */
    margin: 5rem auto;
    width: 100%;
}

 .code-pen {
    background: url("../../imgs/portfolioImgs/wikipedia_api.png") no-repeat center;
    background-size: 360px 300px;
    float: left;
 }

 .museum {
    background: url("../../imgs/portfolioImgs/museum_image.png") no-repeat center;
    background-size: 360px 300px;
    float: left;

 }
 
 .tshirt-widget {
    background: url("../../imgs/portfolioImgs/blue_shirt.png") no-repeat center;
    background-size: 270px 300px;
    float: left;
    width: 18%;
 }


@media only screen and (max-width: 667px) {
    h1 {
        font-size: 65px;
    }
}

