/*MOBILE DISPLAY (Portrait) --POSITIONED AT 460pxX678*/
@media only screen and (max-width: 599px) {
  .wrapper {
    margin: 0;
    padding: 0 1rem;
  }

  .wrapper-body{
    float: none;
    width: 100%;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
  
  .logo {
    position: relative;
  }

  h1 {
    float: none;

    a {
      margin: 0 auto;
    }
  }

  nav {
    padding: 0;

    p {
      display: block;
      border-bottom: 2px solid #E8E8E9;
      padding: 1rem;
      margin: 0;
      word-spacing: 0;
    }

    p:last-child {
      border-bottom: none;
    }
  }

  .banner {
    background-image: none;
    position: relative;
    color: black;
    margin-top: 0;
    padding: 0;
    text-align: left;

    .mobile {
      background-color: $museumGray;
      border-radius: 0;
      display: block;
      float: none;
      margin: 2rem auto;
      padding: 1rem;

    .searchCMAField {
      width: 100%;
    }

    .btn {
      margin: 1rem 0;
      width: 100%;
    }
  }

    h2 {
      font-size: 2.75rem;
      border-top: 2px solid $museumDarkGray;
      padding-top: 1rem;
      text-shadow: none;
    }

    p {
      font-size: 1rem;
      color: #C1C1C1;
    }

  }

  .sideLinks {
    display: none;
  }

  .side-links-bottom {
    display: inline-block;
    margin: 4rem 0;
    
    .sidebox-wrapper {
      border: 2px solid $museumGray;
      border-radius: 5px;
    }

    p {
      font-size: 0.85rem;
      border-bottom: 2px solid $museumGray;
      border-radius: 0;
      margin: 0;
      padding: 1rem;
      text-align: center; 
    }

    p:last-child {
      border-bottom: none;
    }

      a {
        text-decoration: none;
      }

      .sideBox1 {
        width: 22rem; 
        padding: 0;
      }

      .sideBox2 {
        padding: 1rem 0;
        width: 22rem; 
      }

      .sideBox3 {
        padding: 1rem 0;
        width: 22rem; 
      }
  }

  .grayBox {
    margin-bottom: 0;

    .main-form {
      @include clearfix;
      max-width: 21rem;

      .aboutDiv {
      position: relative;
      height: 1rem;

      .personal_info{
        clear: both;
        width: 100%;
      }

      .contact_info {
        width: 100%;
        margin-left: 0;
      }

      h2 {
        font-size: 2rem;
        }
      }
    }

      .membership_info {
    position: relative;
  
      h2 {
        font-size: 2rem;
      }

      .darker_gray_box {
      position: relative;
      background-color: inherit ;
      padding: 1rem 0;

      .individual_box {
        position: relative;
        width: 21rem ;
        margin: 1rem 0;
      }

      .family_box {
        position: relative;
        width: 21rem;
        margin: 1rem 0;
      }

      .patron_box {
        position: relative;
        width: 21rem;
        margin: 1rem 0;
      }

    }

  }

    .radioOptions {
      position: relative;
      margin-top: 0;
      padding-top: 0;

      .membership_radio {
        position: relative;
  
        h2 {
          font-size: 1.5rem;
        }
      }
      .additional_radio {
        float: left;
        position: relative;
        top: 0;
        margin-right: 0;

        h2 {
          font-size: 1.5rem;
        }
      }
    }

    .btn {
      position: relative;
      float: none;
      width: 100%;
    }

  }


  .benefitsDiv {
    padding: 1rem 0;

    h2 {
      font-size: 2rem;
    }
  }

  footer {
    position: relative;
    height: 12rem;
    padding: 2rem;

    a {
      padding: 0 1rem;
      line-height: 1rem;
    }
  }
}