/*TABLET/IPAD DISPLAY 1024px (Landscape)*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    float: none;
    margin: 3rem auto;

    .searchCMAField {
      width: 75%;
    }
  }

  .wrapper {
    margin: 3rem 1rem;
  }

  .wrapper-body{
    float: none;
    width: 100%;
  }

  header {

    h1 {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 381px;

      a {
        margin: 0 auto;
      }
    }

    nav {
      padding: 0;

      p {
        display: block;
        border-bottom: 2px solid #E8E8E9;
        box-sizing: border-box;
        padding: 1rem 15rem;
        width: 100%;
        margin: 0;
      }
      p:last-child {
        border-bottom: none;
      }

    }

  }

  .banner {
    border-radius: 5px;
    position: relative;
    background-image: none;
    color: black;
    padding: 1rem 2rem;
    /* border-top: 2px solid #C1C1C1; */
    text-align: left;
    /* width: 93%; */
    /* margin-left: 1rem; */
    background: #E8E8E9;
    height: auto;
    box-sizing: border-box;

    h2 {
      border-top: 2px solid $museumDarkGray;
      font-size: 3rem;
      margin-bottom: 3px;
      padding-top: 2rem;
      text-shadow: none;
    }

    p {
      font-size: 1.5rem;
      color: #C1C1C1;
    }

  }

  .sideLinks {
    display: none;
  }

  .side-links-bottom {
    display: inline-block;
    width: 100%;
  }

  .grayBox {
    width: auto;
    position: relative;
    height: auto;

    .main-form {
      position: relative;
    }

    .aboutDiv {
  
      h2 {
        font-size: 2rem;
      }

    }

    .radioOptions {

      .membership_radio {
        position: relative;

        h2 {
          font-size: 1.5rem;
        }
      }

      .additional_radio {
        position: relative;
        
        h2 {
          font-size: 1.5rem;
        }
      }
    }

    .btn {
      position: relative;
      float: right;
    }
  }
  .membership_info {
    position: relative;

    h2 {
      font-size: 2rem!important;
    }
    .darker_gray_box {
      position: relative;
      background-color: $museumGray!important;

      .darker-boxes {
        position: relative;
        width: 100%!important;
        margin: 1rem 0!important;
      }
    }
  }
  .benefitsDiv {
    width: auto;
    position: relative;
    h2 {
      font-size: 2rem;
    }
  }
}
  footer {
    position: relative;
    padding: 2rem 3rem;
    a {
      padding: 2rem;
      line-height: 2rem;
    }
  }

/*TABLET PORTRAIT*/
@media only screen and (min-width: 780px) and (max-width: 924px) {
  .additional_radio {
    margin-right: 0 !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 779px) {
  html {
    height: 100%;
    width: 100%;
  }

  .wrapper {
    margin: 3rem;
  }

  .wrapper-body{
    float: none;
    width: 100%;
  }

  header {

      h1 {
        float: none;
        a {
          margin: 0 auto;
        }

      }

      nav {
      padding: 0;

      p {
        display: block;
        border-bottom: 2px solid #E8E8E9;
        box-sizing: border-box;
        padding: 1rem 5rem;
        width: 100%;
        margin: 0;
      }
      p:last-child {
        border-bottom: none;
      }

    }
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    float: none;
    margin: 3rem auto;

    .searchCMAField {
      width: 65%;
    }
  }

  .logo {
    position: relative;
    left: 25%;
  }

  .banner {
    border-radius: 5px;
    position: relative;
    background-image: none;
    color: black;
    padding: 1rem 2rem;
    text-align: left;
    background: #E8E8E9;
    height: auto;
    box-sizing: border-box;

    h2 {
      border-top: 2px solid $museumDarkGray;
      font-size: 3rem;
      margin-bottom: 3px;
      padding-top: 2rem;
      text-shadow: none;
    }

    p {
      font-size: 1.5rem;
      color: #C1C1C1;
    }

  }

  .sideLinks {
    display: none;
  }

  .side-links-bottom {
    display: inline-block;
    width: 100%;

    .sideBox1 {
      padding: 1rem 2rem;
    }

    .sideBox2 {
      padding: 1rem;
    }

    .sideBox3 {
      padding: 1rem;
    }
  }

  .grayBox {
    width: auto;
    position: relative;
    height: auto;

    .main-form {
      position: relative;
    }

    .aboutDiv {
      position: relative;
      height: 1rem;

      h2 {
        font-size: 2rem;
      }

    }
    .radioOptions {


      .membership_radio {
        position: relative;
      
        h2 {
          font-size: 1.5rem;
        }
      }

      .additional_radio {
        position: relative;
        margin-right: 0;

        h2 {
          font-size: 1.5rem;
        }
      }
    }

    @media only screen and (max-width: 725px) {
      .radioOptions {
        .membership_radio {
          width: 40%;
        }
        .additional_radio {
          width: 45%;
        }
      }
    }

    .btn {
      position: relative;
    }

  }
  .membership_info {
    position: relative;
    top: 6rem;
    h2 {
      font-size: 2rem !important;
    }
    .darker_gray_box {
      position: relative;
      background-color: $museumGray !important;
      .individual_box {
        position: relative;
        width: 100% !important;
        margin: 1rem 0 !important;
      }
      .family_box {
        position: relative;
        width: 100%!important;
        margin: 1rem 0!important;
      }
      .patron_box {
        position: relative;
        width: 100%!important;
        margin: 1rem 0!important;
      }
    }
  }
  .benefitsDiv {
    width: auto;
    position: relative;
    h2 {
      font-size: 2rem;
    }
  }
}
  footer {
    position: relative;
    padding: 2rem 3rem;
    a {
      padding: 2rem;
      line-height: 2rem;
    }
  }

