/*@import 'reset';*/
/*@import 'reset';*/
/*For screen size 1680px and higher*/
.html {
  margin: 0; }

.desktop {
  display: block; }

.mobile {
  display: none; }

.wrapper {
  margin: 3rem 10rem; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.wrapper-body {
  float: left;
  width: 80%; }
  .wrapper-body:after {
    content: "";
    display: table;
    clear: both; }

@media only screen and (min-width: 1680px) and (max-width: 1799px) {
  .wrapper {
    margin: 3rem 6rem; }

  .sideLinks {
    padding-right: 0 !important; } }
/*Begin header style*/
h1 {
  float: left;
  display: inline; }
  h1 a {
    background-image: url("../imgs/logo.jpg");
    height: 105px;
    width: 381px;
    display: block; }

nav {
  border: 2px solid #E8E8E9;
  border-radius: 5px;
  margin: 1rem 0;
  padding: 1rem 0;
  text-align: center;
  word-spacing: 3rem;
  clear: both; }
  nav p {
    display: inline;
    padding: 0 4.5rem; }
  nav p:nth-child(5) {
    word-spacing: 0; }
  nav a {
    color: #DE2E48;
    text-decoration: none; }
    nav a:visited {
      color: #DE2E48; }

.topForm {
  border-radius: 5px;
  float: right;
  margin: 3.5rem 0 0 3.5rem; }
  .topForm .searchCMAField {
    border-radius: 5px;
    box-shadow: -1px -2px #C3C3C3;
    padding: .75rem;
    width: 15rem; }

.banner {
  background-size: 100%;
  background-image: url("../imgs/banner.jpg");
  background-repeat: no-repeat;
  border-radius: 5px;
  color: white;
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 4rem 0;
  text-align: center; }
  .banner h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 6rem;
    margin: 3px;
    text-shadow: 0 2px 4px black; }
  .banner p {
    font-family: 'Arial', serif;
    font-size: 1.5rem; }

.btn {
  -moz-border-radius: 5;
  -webkit-border-radius: 5;
  background: #d61e27;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: Georgia;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none; }
  .btn:hover {
    background: #db5555;
    background-image: -webkit-linear-gradient(top, #db5555, #f07a7a);
    background-image: -moz-linear-gradient(top, #db5555, #f07a7a);
    background-image: -ms-linear-gradient(top, #db5555, #f07a7a);
    background-image: -o-linear-gradient(top, #db5555, #f07a7a);
    background-image: linear-gradient(to bottom, #db5555, #f07a7a);
    cursor: pointer;
    text-decoration: none; }

.benefitsDiv {
  border-bottom: 2px solid #C3C3C3;
  border-radius: 0;
  float: left;
  font-family: "Open Sans", sans-serif;
  padding: 2rem 0;
  width: auto; }
  .benefitsDiv ul {
    padding: 1rem; }
    .benefitsDiv ul li {
      font-family: 'Georgia', serif;
      font-size: 1rem;
      line-height: 2; }
      .benefitsDiv ul li a {
        color: #DE2E48; }
        .benefitsDiv ul li a:visited {
          color: #DE2E48; }

.sideLinks {
  border-left: 1px solid #E8E8E9;
  border-radius: 0;
  float: right;
  font-family: "Open Sans", sans-serif;
  padding: 0rem 2.25rem 0 2.25rem;
  position: relative;
  margin: 1rem auto; }
  .sideLinks h2 {
    font-size: 1.5rem;
    margin: 0 0 1rem 0; }
  .sideLinks p {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    line-height: 1rem; }
  .sideLinks a {
    color: #DE2E48; }
    .sideLinks a:visited {
      color: #DE2E48; }

.grayBox {
  background-color: #E8E8E9;
  border-radius: 5px;
  float: left;
  font-family: "Open Sans", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 0 1rem;
  max-width: 71rem; }
  .grayBox .main-form {
    width: auto; }
    .grayBox .main-form:after {
      content: "";
      display: table;
      clear: both; }
  .grayBox .btn {
    float: right;
    margin: 1rem 0; }
  .grayBox .aboutDiv {
    width: 100%; }
    .grayBox .aboutDiv:after {
      content: "";
      display: table;
      clear: both; }
    .grayBox .aboutDiv h2 {
      font-size: 1.5rem; }
    .grayBox .aboutDiv .personal_info {
      float: left;
      display: block;
      width: 48%;
      margin-bottom: 1rem; }
    .grayBox .aboutDiv .contact_info {
      float: left;
      display: block;
      margin-bottom: 1rem;
      margin-left: 2%;
      width: 48%; }
    .grayBox .aboutDiv label {
      font-family: 'Georgia', serif;
      font-size: 1rem; }
    .grayBox .aboutDiv .input_field {
      border-radius: 5px;
      box-shadow: -1px -2px #C3C3C3;
      padding: 0.75rem 0.5rem;
      margin-bottom: 1rem;
      width: 100%;
      height: 4rem; }
  .grayBox .membership_info h2 {
    font-size: 1.5rem;
    clear: both; }
  .grayBox .membership_info .darker_gray_box {
    background-color: #C3C3C3;
    border-radius: 5px;
    /*width: auto;*/
    padding: 1rem 0; }
    .grayBox .membership_info .darker_gray_box:after {
      content: "";
      display: table;
      clear: both; }
    .grayBox .membership_info .darker_gray_box ul li {
      font-family: 'Georgia', serif;
      padding: .75rem; }
    .grayBox .membership_info .darker_gray_box .darker-boxes {
      background-color: white;
      border-radius: 5px;
      float: left;
      margin: 0 1%;
      width: 31.25%; }
      .grayBox .membership_info .darker_gray_box .darker-boxes h2 {
        text-align: center; }
      .grayBox .membership_info .darker_gray_box .darker-boxes a {
        color: #DE2E48; }
        .grayBox .membership_info .darker_gray_box .darker-boxes a:visited {
          color: #DE2E48; }

.radioOptions {
  width: 100%;
  margin-top: 1rem;
  padding-top: 1rem; }
  .radioOptions:after {
    content: "";
    display: table;
    clear: both; }
  .radioOptions h2 {
    font-size: 1.5rem; }
  .radioOptions p {
    line-height: .75rem; }
  .radioOptions .membership_radio {
    float: left;
    padding: 1rem 0; }
  .radioOptions .additional_radio {
    float: right;
    margin-right: 15%;
    padding: 1rem 0; }

.side-links-bottom {
  border-top: 1px solid #C3C3C3;
  display: none;
  border-left: none;
  position: relative;
  float: none;
  width: 100%;
  padding: 1rem 0;
  right: auto; }
  .side-links-bottom h2 {
    font-size: 1.5rem; }
  .side-links-bottom p {
    border-radius: 5px;
    font-family: 'Georgia', serif;
    font-size: 1rem; }
  .side-links-bottom a {
    color: #DE2E48; }
    .side-links-bottom a:visited {
      color: #DE2E48; }
  .side-links-bottom .sideBox1 {
    padding: 1rem 6rem 0.5rem 0;
    float: left; }
  .side-links-bottom .sideBox2 {
    padding: 1rem 6rem 0 6rem;
    float: left; }
  .side-links-bottom .sideBox3 {
    padding: 1rem 1rem 0 6rem;
    float: left; }

footer {
  background-color: #262626;
  clear: both;
  text-align: center;
  padding: 1rem; }
  footer p {
    color: #F9F9F9;
    line-height: 0.5; }
    footer p a {
      color: #52D3FF; }
      footer p a:visited {
        color: #52D3FF; }
  footer .bottomLinks {
    margin-top: 3rem; }

@media only screen and (min-width: 1025px) and (max-width: 1260px) {
  .wrapper {
    margin: 3rem; }

  nav p {
    padding: 0 0.75rem; }

  .wrapper-body {
    float: none;
    width: 100%; }

  .banner {
    padding-bottom: 0;
    height: 25%; }
    .banner h2 {
      font-size: 3rem; }
    .banner p {
      font-size: 1rem; }

  .sideLinks {
    display: none; }

  .side-links-bottom {
    display: inline-block; }

  .grayBox {
    bottom: 0%;
    width: auto;
    position: relative; }

  .benefitsDiv {
    width: 100%;
    position: relative; }

  footer {
    position: relative;
    margin-bottom: inherit; }
    footer a {
      padding: 1rem; } }
@media only screen and (min-width: 1025px) and (max-width: 1037px) {
  .input_field {
    width: 26rem !important; } }
/*ULTRABOOk/TABLET DISPLAY 1366 X 768*/
@media only screen and (min-width: 1261px) and (max-width: 1679px) {
  .wrapper {
    margin: 3rem 5rem; }

  .wrapper-body {
    float: none;
    width: 100%; }

  nav p {
    padding: 0 2rem; }

  .banner {
    height: 20%; }
    .banner h2 {
      font-size: 4rem; }

  .sideLinks {
    display: none; }

  .side-links-bottom {
    display: inline-block; }

  .grayBox {
    bottom: 0%;
    width: 100%;
    height: auto;
    position: relative; }
    .grayBox .aboutDiv {
      position: relative; }
      .grayBox .aboutDiv .contact_info {
        position: relative; }
      .grayBox .aboutDiv .personal_info {
        position: relative; }
    .grayBox .btn {
      position: relative; }

  .membership_info {
    position: relative; }

  .darker_gray_box {
    position: relative; }

  .radioOptions {
    position: relative;
    top: 0; }

  .benefitsDiv {
    width: auto;
    position: relative; }

  footer {
    position: relative;
    top: 0%;
    height: 14rem;
    padding: 1rem 10rem; }
    footer a {
      padding: 1rem;
      line-height: 1rem; } }
/*TABLET/IPAD DISPLAY 1024px (Landscape)*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .desktop {
    display: none; }

  .mobile {
    display: block;
    float: none;
    margin: 3rem auto; }
    .mobile .searchCMAField {
      width: 75%; }

  .wrapper {
    margin: 3rem 1rem; }

  .wrapper-body {
    float: none;
    width: 100%; }

  header h1 {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 381px; }
    header h1 a {
      margin: 0 auto; }
  header nav {
    padding: 0; }
    header nav p {
      display: block;
      border-bottom: 2px solid #E8E8E9;
      box-sizing: border-box;
      padding: 1rem 15rem;
      width: 100%;
      margin: 0; }
    header nav p:last-child {
      border-bottom: none; }

  .banner {
    border-radius: 5px;
    position: relative;
    background-image: none;
    color: black;
    padding: 1rem 2rem;
    /* border-top: 2px solid #C1C1C1; */
    text-align: left;
    /* width: 93%; */
    /* margin-left: 1rem; */
    background: #E8E8E9;
    height: auto;
    box-sizing: border-box; }
    .banner h2 {
      border-top: 2px solid #C3C3C3;
      font-size: 3rem;
      margin-bottom: 3px;
      padding-top: 2rem;
      text-shadow: none; }
    .banner p {
      font-size: 1.5rem;
      color: #C1C1C1; }

  .sideLinks {
    display: none; }

  .side-links-bottom {
    display: inline-block;
    width: 100%; }

  .grayBox {
    width: auto;
    position: relative;
    height: auto; }
    .grayBox .main-form {
      position: relative; }
    .grayBox .aboutDiv h2 {
      font-size: 2rem; }
    .grayBox .radioOptions .membership_radio {
      position: relative; }
      .grayBox .radioOptions .membership_radio h2 {
        font-size: 1.5rem; }
    .grayBox .radioOptions .additional_radio {
      position: relative; }
      .grayBox .radioOptions .additional_radio h2 {
        font-size: 1.5rem; }
    .grayBox .btn {
      position: relative;
      float: right; }

  .membership_info {
    position: relative; }
    .membership_info h2 {
      font-size: 2rem !important; }
    .membership_info .darker_gray_box {
      position: relative;
      background-color: #E8E8E9 !important; }
      .membership_info .darker_gray_box .darker-boxes {
        position: relative;
        width: 100% !important;
        margin: 1rem 0 !important; }

  .benefitsDiv {
    width: auto;
    position: relative; }
    .benefitsDiv h2 {
      font-size: 2rem; } }
footer {
  position: relative;
  padding: 2rem 3rem; }
  footer a {
    padding: 2rem;
    line-height: 2rem; }

/*TABLET PORTRAIT*/
@media only screen and (min-width: 780px) and (max-width: 924px) {
  .additional_radio {
    margin-right: 0 !important; } }
@media only screen and (min-width: 600px) and (max-width: 779px) {
  html {
    height: 100%;
    width: 100%; }

  .wrapper {
    margin: 3rem; }

  .wrapper-body {
    float: none;
    width: 100%; }

  header h1 {
    float: none; }
    header h1 a {
      margin: 0 auto; }
  header nav {
    padding: 0; }
    header nav p {
      display: block;
      border-bottom: 2px solid #E8E8E9;
      box-sizing: border-box;
      padding: 1rem 5rem;
      width: 100%;
      margin: 0; }
    header nav p:last-child {
      border-bottom: none; }

  .desktop {
    display: none; }

  .mobile {
    display: block;
    float: none;
    margin: 3rem auto; }
    .mobile .searchCMAField {
      width: 65%; }

  .logo {
    position: relative;
    left: 25%; }

  .banner {
    border-radius: 5px;
    position: relative;
    background-image: none;
    color: black;
    padding: 1rem 2rem;
    text-align: left;
    background: #E8E8E9;
    height: auto;
    box-sizing: border-box; }
    .banner h2 {
      border-top: 2px solid #C3C3C3;
      font-size: 3rem;
      margin-bottom: 3px;
      padding-top: 2rem;
      text-shadow: none; }
    .banner p {
      font-size: 1.5rem;
      color: #C1C1C1; }

  .sideLinks {
    display: none; }

  .side-links-bottom {
    display: inline-block;
    width: 100%; }
    .side-links-bottom .sideBox1 {
      padding: 1rem 2rem; }
    .side-links-bottom .sideBox2 {
      padding: 1rem; }
    .side-links-bottom .sideBox3 {
      padding: 1rem; }

  .grayBox {
    width: auto;
    position: relative;
    height: auto; }
    .grayBox .main-form {
      position: relative; }
    .grayBox .aboutDiv {
      position: relative;
      height: 1rem; }
      .grayBox .aboutDiv h2 {
        font-size: 2rem; }
    .grayBox .radioOptions .membership_radio {
      position: relative; }
      .grayBox .radioOptions .membership_radio h2 {
        font-size: 1.5rem; }
    .grayBox .radioOptions .additional_radio {
      position: relative;
      margin-right: 0; }
      .grayBox .radioOptions .additional_radio h2 {
        font-size: 1.5rem; } }
  @media only screen and (min-width: 600px) and (max-width: 779px) and (max-width: 725px) {
    .grayBox .radioOptions .membership_radio {
      width: 40%; }
    .grayBox .radioOptions .additional_radio {
      width: 45%; } }
@media only screen and (min-width: 600px) and (max-width: 779px) {
    .grayBox .btn {
      position: relative; }

  .membership_info {
    position: relative;
    top: 6rem; }
    .membership_info h2 {
      font-size: 2rem !important; }
    .membership_info .darker_gray_box {
      position: relative;
      background-color: #E8E8E9 !important; }
      .membership_info .darker_gray_box .individual_box {
        position: relative;
        width: 100% !important;
        margin: 1rem 0 !important; }
      .membership_info .darker_gray_box .family_box {
        position: relative;
        width: 100% !important;
        margin: 1rem 0 !important; }
      .membership_info .darker_gray_box .patron_box {
        position: relative;
        width: 100% !important;
        margin: 1rem 0 !important; }

  .benefitsDiv {
    width: auto;
    position: relative; }
    .benefitsDiv h2 {
      font-size: 2rem; } }
footer {
  position: relative;
  padding: 2rem 3rem; }
  footer a {
    padding: 2rem;
    line-height: 2rem; }

/*MOBILE DISPLAY (Portrait) --POSITIONED AT 460pxX678*/
@media only screen and (max-width: 599px) {
  .wrapper {
    margin: 0;
    padding: 0 1rem; }

  .wrapper-body {
    float: none;
    width: 100%; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .logo {
    position: relative; }

  h1 {
    float: none; }
    h1 a {
      margin: 0 auto; }

  nav {
    padding: 0; }
    nav p {
      display: block;
      border-bottom: 2px solid #E8E8E9;
      padding: 1rem;
      margin: 0;
      word-spacing: 0; }
    nav p:last-child {
      border-bottom: none; }

  .banner {
    background-image: none;
    position: relative;
    color: black;
    margin-top: 0;
    padding: 0;
    text-align: left; }
    .banner .mobile {
      background-color: #E8E8E9;
      border-radius: 0;
      display: block;
      float: none;
      margin: 2rem auto;
      padding: 1rem; }
      .banner .mobile .searchCMAField {
        width: 100%; }
      .banner .mobile .btn {
        margin: 1rem 0;
        width: 100%; }
    .banner h2 {
      font-size: 2.75rem;
      border-top: 2px solid #C3C3C3;
      padding-top: 1rem;
      text-shadow: none; }
    .banner p {
      font-size: 1rem;
      color: #C1C1C1; }

  .sideLinks {
    display: none; }

  .side-links-bottom {
    display: inline-block;
    margin: 4rem 0; }
    .side-links-bottom .sidebox-wrapper {
      border: 2px solid #E8E8E9;
      border-radius: 5px; }
    .side-links-bottom p {
      font-size: 0.85rem;
      border-bottom: 2px solid #E8E8E9;
      border-radius: 0;
      margin: 0;
      padding: 1rem;
      text-align: center; }
    .side-links-bottom p:last-child {
      border-bottom: none; }
    .side-links-bottom a {
      text-decoration: none; }
    .side-links-bottom .sideBox1 {
      width: 22rem;
      padding: 0; }
    .side-links-bottom .sideBox2 {
      padding: 1rem 0;
      width: 22rem; }
    .side-links-bottom .sideBox3 {
      padding: 1rem 0;
      width: 22rem; }

  .grayBox {
    margin-bottom: 0; }
    .grayBox .main-form {
      max-width: 21rem; }
      .grayBox .main-form:after {
        content: "";
        display: table;
        clear: both; }
      .grayBox .main-form .aboutDiv {
        position: relative;
        height: 1rem; }
        .grayBox .main-form .aboutDiv .personal_info {
          clear: both;
          width: 100%; }
        .grayBox .main-form .aboutDiv .contact_info {
          width: 100%;
          margin-left: 0; }
        .grayBox .main-form .aboutDiv h2 {
          font-size: 2rem; }
    .grayBox .membership_info {
      position: relative; }
      .grayBox .membership_info h2 {
        font-size: 2rem; }
      .grayBox .membership_info .darker_gray_box {
        position: relative;
        background-color: inherit;
        padding: 1rem 0; }
        .grayBox .membership_info .darker_gray_box .individual_box {
          position: relative;
          width: 21rem;
          margin: 1rem 0; }
        .grayBox .membership_info .darker_gray_box .family_box {
          position: relative;
          width: 21rem;
          margin: 1rem 0; }
        .grayBox .membership_info .darker_gray_box .patron_box {
          position: relative;
          width: 21rem;
          margin: 1rem 0; }
    .grayBox .radioOptions {
      position: relative;
      margin-top: 0;
      padding-top: 0; }
      .grayBox .radioOptions .membership_radio {
        position: relative; }
        .grayBox .radioOptions .membership_radio h2 {
          font-size: 1.5rem; }
      .grayBox .radioOptions .additional_radio {
        float: left;
        position: relative;
        top: 0;
        margin-right: 0; }
        .grayBox .radioOptions .additional_radio h2 {
          font-size: 1.5rem; }
    .grayBox .btn {
      position: relative;
      float: none;
      width: 100%; }

  .benefitsDiv {
    padding: 1rem 0; }
    .benefitsDiv h2 {
      font-size: 2rem; }

  footer {
    position: relative;
    height: 12rem;
    padding: 2rem; }
    footer a {
      padding: 0 1rem;
      line-height: 1rem; } }

/*# sourceMappingURL=museumCSS.css.map */
